<!DOCTYPE html>
<html>
  <body>

    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="network">Network</a></li>
      <li><a href="jobs">Jobs</a></li>
      <li><a href="messages">Messages</a></li>
      <li><a href="notifications">Notifications</a></li>
      <li><a href="profile/me">Profile</a></li>
      <li><a routerLink="/settings">Settings</a></li>
    </ul>

    <br>
    <br>
    <br>
    <div class="container">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
    
        <label for="email">Update Email</label>
        <input type="email" id="email" placeholder="email" ngModel name=email>
    
        <label for="password">Update Password</label>
        <input type="password" id="password" placeholder="password" ngModel name=password>
    
        <input type="submit" value="Submit">
    
      </form>
    </div>
  </body>
</html>